<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">ResumeAI</a>
        <div>
            <a href="/" class="btn btn-outline-light me-2">Home</a>
            <a href="/results" class="btn btn-outline-light me-2">Results</a>
            <a href="/login" class="btn btn-outline-light me-2">Login</a>
            
        </div>
    </div>
</nav>